// @import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
// @import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Arabic:var(--text-xl-regular-font-weight),var(--text-md-medium-font-weight),600,var(--text-lg-regular-font-weight),var(--display-xl-medium-font-weight),var(--text-md-regular-font-weight),var(--text-sm-regular-font-weight),var(--display-xs-semibold-font-weight),var(--display-xl-bold-font-weight),400,var(--text-md-semibold-font-weight),var(--text-xs-medium-font-weight),var(--text-lg-bold-font-weight),var(--text-sm-medium-font-weight),var(--text-md-bold-font-weight),var(--text-sm-semibold-font-weight),var(--text-sm-regular-underlined-font-weight),var(--text-xs-regular-font-weight),var(--display-md-bold-font-weight),500,700|Montserrat:400");
// @import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Arabic:var(--text-xl-regular-font-weight),var(--text-md-medium-font-weight),600,var(--text-lg-regular-font-weight),var(--display-xl-medium-font-weight),var(--text-md-regular-font-weight),var(--text-sm-regular-font-weight),var(--display-xs-semibold-font-weight),var(--display-xl-bold-font-weight),400,var(--text-md-semibold-font-weight),var(--text-xs-medium-font-weight),var(--text-lg-bold-font-weight),var(--text-sm-medium-font-weight),var(--text-md-bold-font-weight),var(--text-sm-semibold-font-weight),var(--text-sm-regular-underlined-font-weight),var(--text-xs-regular-font-weight),var(--display-md-bold-font-weight),500,700|Montserrat:400");
// /*** LTR websites ***/
// @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;500;600;700&family=Montserrat:wght@400&display=swap");
// @font-face {
//   font-family: "IBMPlex Sans";
//   src: url("../fonts/EN/IBMPlexSans-Regular.ttf"); }

// @font-face {
//   font-family: "IBMPlex Sans";
//   src: url("../fonts/EN/IBMPlexSans-Light.ttf");
//   font-weight: 400; }

// @font-face {
//   font-family: "IBMPlex Sans";
//   src: url("../fonts/EN/IBMPlexSans-Medium.ttf");
//   font-weight: 500; }

// @font-face {
//   font-family: "IBMPlex Sans";
//   src: url("../fonts/EN/IBMPlexSans-Bold.ttf");
//   font-weight: 600; }

// @font-face {
//   font-family: "SST Arabic-Medium";
//   src: url("https://anima-uploads.s3.amazonaws.com/5ad3464c119a87000c105406/SST-Arabic-Medium.ttf") format("truetype");
// }

// @font-face {
//   font-family: "SST Arabic-Bold";
//   src: url("https://anima-uploads.s3.amazonaws.com/5ad3464c119a87000c105406/SST-Arabic-Bold 2.ttf") format("truetype");
// }

* {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

// $primary: #1b8354;
$primary: #1c8354;
$white: #fff;

:root {
  --primary: #{$primary};

  // PRIMARY LIGHTEN COLORS
  --primary-lighten-1: #{lighten($primary, 5%)};
  --primary-lighten-2: #{lighten($primary, 10%)};
  --primary-lighten-3: #{lighten($primary, 12%)};
  --primary-lighten-4: #{lighten($primary, 15%)};
  --primary-lighten-5: #{lighten($primary, 20%)};
  --primary-lighten-6: #{lighten($primary, 24%)};
  --primary-lighten-7: #{lighten($primary, 25%)};
  --primary-lighten-8: #{lighten($primary, 30%)};
  --primary-lighten-9: #{lighten($primary, 35%)};
  --primary-lighten-10: #{lighten($primary, 60%)};

  --white: #{$white};
  --darken-white-1: #{darken($white, 5%)};
  --darken-white-2: #{darken($white, 10%)};
  --darken-white-3: #{darken($white, 12%)};
  --darken-white-4: #{darken($white, 15%)};
}

body {
  // background: var(--darken-white-1);
  background: #F2F2F2 !important;
}

img {
  width: 100%;
}

a {
  // color: black;
  // text-decoration: none;
}

h1 {
  font-size: 40px;
}

.btn {
  cursor: pointer;
  background-color: var(--primary);
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  color: var(--white);
  // height: 40px;
  // font-size: 1rem;
  height: 69px;
  font-size: 23px;
  padding: 0 22px;
}

.nav-bar-section {
  position: sticky;
  top: 0;
  background: var(--darken-white-1);
  padding: 0 22px;
  z-index: 999;

  // &.scrolled {
  //     background: var(--primary-lighten-1);
  // }

  .nb-container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    .nb-middle {
      flex: 1;

      .nav-item-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        height: 100%;

        .nav-item {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          position: relative;

          &.active {
            &::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 4px;
              bottom: 0;
              background-color: var(--primary);
              border-radius: 2px;
            }

            a {
              background-color: var(--primary);
              border-radius: 4px;
              color: white;
              padding: 4px 8px;
            }
          }
        }
      }
    }

    .nb-left,
    .nb-right {
      width: 200px;
    }

    .nb-left,
    .nb-middle,
    .nb-right {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.banner-container {
  position: relative;
  max-height: calc(100vh - 102px);
  overflow: hidden;
    
  @media (max-width: 800px) {
    height: 60vh;
  }

  img {
    height: 100%;
    object-fit: cover;
    position: relative;
  }

  .banner-message-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;

    h1 {
      color: var(--white);
    }

    .big {
      font-size: 58.16px;
      font-weight: 700;
      line-height: 75.6px;
      letter-spacing: 0.04em;
      text-align: left;
    }

    .thin {
      font-size: 38.16px;
      font-weight: 300;
      line-height: 49.61px;
      letter-spacing: 0.04em;
      text-align: left;
      width: 731px;
      margin-bottom: 28px;
    }

    
    @media (max-width: 800px) {
      .big {
        font-size: 50px;
        line-height: 50px;
      }
      .thin {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 10px;
        width: auto;
      }
    }

    p {
      color: var(--white);
    }

    .apply-here-w {
      display: flex;
      align-items: stretch;
      justify-content: center;
      gap: 1rem;
      height: 62px;
      width: 428px;

      @media (max-width: 800px) {
        width: 80%;
      }

      .message-w {
        flex: 1;
        background: #084D31;
        border-radius: 8px;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px 20px;

        p {
          font-size: 19.3px;
          font-weight: 400;
          line-height: 25.5px;
          text-align: left;

          &.date {
            font-size: 19.3px;
            font-weight: 700;
            line-height: 25.5px;
            text-align: left;
          }
        }

        .date {
          font-weight: 600;
        }
      }

      .btn {
        background: linear-gradient(90deg, #CFCFCF 0%, #FFFFFF 100%);
        box-shadow: none;
        color: var(--primary);
        height: 100%;
        width: 184px;
        font-weight: 600;
        line-height: 27px;
        text-align: center;

        @media (max-width: 800px) {
          width: 150px;
        }
      }
    }
  }
}

.divider-titles-container {
  margin: 30px 0 0 0;

  .divider-titles-wrapper {
    // height: 300px;
    text-align: center;
    
    @media (max-width: 800px) {
      height: auto;
    }

    .divider-title-header {
      border-radius: 10px;
      padding: 4px 8px;
      margin-bottom: 28px;

      @media (max-width: 800px) {
        margin: 0 10px 14px;
      }
    }

    .divider-titles-cards-w {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      gap: 3rem;
      padding: 0 80px;

      .divider-title-card-c {
        flex: 1;
        background-color: var(--white);
        border-radius: 10px;
        max-width: 561px;
        min-height: 341px;
        padding: 46px;

        p {
          font-size: 30px;
          font-weight: 400;
          line-height: 39px;
          text-align: justify;
        }
      }

    }

  }
}

.objectives-container {
  // background: var(--primary);
  padding: 0 80px;
  margin: 50px 0;

  .objectives-wrapper {
    .objectives-header-title {
      color: var(--primary);
      margin-bottom: 28px;
      text-align: center;
    }

    .objectives-card-wrapper {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      gap: 3rem;

      @media (max-width: 800px) {
        flex-direction: column;
      }

      .objectives-card {
        flex: 1;
        // background-color: var(--primary);
        background: linear-gradient(90deg, #1c8354 0%, #00a55a 100%);
        border-radius: 10px;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        color: var(--white);
        min-height: 150px;
        padding: 18px 50px;
        max-width: 856px;
        position: relative;

        &:last-child {
          background: linear-gradient(90deg, #E2E2E2 0%, #E0E0E0 100%);

          p {
            color: #084D31; 
          }
        }

        p {
          font-size: 30px;
          font-weight: 500;
          line-height: 39px;
          text-align: left;
          color: var(--white);
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          
          @media (max-width: 800px) {
            top: unset;
            transform: unset;
          }

          &.text-c {
            text-align: center;
          }
        }
      }
    }
  }
}

.eligibility-container {
  // background: url('../assets/bg-eligibility.png');
  background-position: center;
  background-size: cover;
  padding: 50px 10px;
  position: relative;

  &::after {
    content: "";
    background: linear-gradient(
      0deg,
      rgba(28, 131, 84, 0) 0%,
      rgba(8, 77, 49, 0.8) 100%
    );
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .bg-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  .eligibility-wrapper {
    position: relative;
    z-index: 2;

    p {
      color: var(--white);
      font-size: 25px;
      font-size: 25px;
      font-weight: 400;
      line-height: 30px;
      text-align: center;

      strong {
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;
      }
    }

    .eligibility-header-title {
      color: var(--white);
      margin-bottom: 40px;
      text-align: center;

      h1 {
        font-size: 40px;
      }

      p {
        margin-top: 4px;
        font-size: 30px;
      }
    }

    .eligibility-card-wrapper {
      display: flex;
      align-items: stretch;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;
      padding: 0 16px;

      @media (max-width: 800px) {
        flex-direction: column;
      }

      .eligibility-card {
        flex: 25%;
        max-width: 433px;
        // background: linear-gradient(
        //   180deg,
        //   rgba(8, 77, 49, 0.8) 0%,
        //   rgba(19, 179, 114, 0.8) 100%
        // );
        background: linear-gradient(90deg, #1C8354 0%, #00A55A 100%);
        color: var(--white);
        border-radius: 10px;
        min-height: 150px;
        padding: 18px 28px;
        position: relative;

        img {
          height: 50px;
          width: 50px;
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          margin-bottom: 10px;
        }

        p {
          text-align: justify;
        }
      }
    }
  }
}

.core-themes-container {
  padding: 50px 0;

  .title-header {
    text-align: center;
    margin-bottom: 28px;

    h1 {
      font-size: 40px;
      margin-bottom: 10px;
    }

    p {
      // font-size: 29px;
      width: 74%;
      margin: 0 auto 50px;
      font-size: 29px;
      line-height: 37.7px;
      text-align: center;

    }
  }

  .core-themes-card-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 3rem;
    margin: 0 4rem;

    @media (max-width: 800px) {
      flex-direction: column;
    }

    .core-themes-card {
      flex: 1;
      max-width: 436px;
      position: relative;

      .card-title {
        display: flex;
        gap: 10px;
        position: relative;
        left: -6px;


        .card-icon-w {
          position: relative;
          height: 100px;
          width: 100px;

          .bg-icon {
            height: 96.87px;
            width: 99px;
          }

          .icon {
            position: absolute;
            top: 12px;
            left: 22px;
            width: 45px;
            height: 45px;
          }
        }

        h2 {
          font-size: 1.4rem;
          margin-top: 17px;

          span {
            color: var(--primary);
          }
        }
      }

      .card-content {
        background: #D9D9D94D;
        height: calc(100% - 100px);
        border-radius: 5px;
        position: relative;
        left: 28px;
        top: -30px;
        padding: 20px 20px 20px 48px;
        
        ul {
          list-style: none;
          // list-style-image: url('../assets/icons/mewa-bullet.png');

          li {
            margin-bottom: 30px;
            position: relative;

            &::before {
              content: '';
              background-image: url('../assets/icons/mewa-bullet.png');
              height: 17px;
              width: 17px;
              position: absolute;
              top: 6px;
              left: -34px;
            }

            .label {
              font-size: 26.25px;
              font-weight: 600;
              line-height: 31.77px;
              text-align: left;
              margin-bottom: -4px;
            }

          }
        }
        
        &.environment { 
          ul {
            // list-style: none;
            list-style-image: url('../assets/icons/environment-bullet.png');
          }
        }

        &.water { 
          ul {
            // list-style: none;
            list-style-image: url('../assets/icons/water-bullet.png');
          }
        }

        &.agriculture { 
          ul {
            // list-style: none;
            list-style-image: url('../assets/icons/agriculture-bullet.png');
          }
        }
      }

      &.text.holder {
        flex: unset;
        width: 300px;
      }

      .ct-details-wrapper {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.why-apply-container {
  background: linear-gradient(90deg, #1C8354 0%, #00A55A 100%);;
  border-radius: 20px;
  margin: 0 auto;
  padding: 8px;
  margin-top: -20px;
  margin-bottom: 50px;
  width: 90%;

  .why-apply-wrapper {
    background: #F2F2F2;
    border-radius: 14px;
    padding: 30px 100px;

    .wa-header-title {
      font-size: 1.4rem;
      margin-bottom: 10px;
      text-align: center;

      h2 {
        margin-bottom: 10px;
      }

      p {
        margin: 0 auto;
        margin-bottom: 10px;
        font-size: 30px;
        font-weight: 400;
        line-height: 38px;
        text-align: justify;


        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.apply-now-container {
  // background: url("../assets/bg-apply-now.png");
  background-position: center;
  background-size: cover;
  padding: 50px;
  position: relative;
  
  @media (max-width: 800px) {
    padding: 20px;
  }
  
  &::after {
    content: "";
    background: linear-gradient(
      0deg,
      rgba(28, 131, 84, 0) 0%,
      rgba(8, 77, 49, 0.8) 100%
    );
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .bg-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  .apply-now-form-wrapper {
    position: relative;
    z-index: 1;

    @media (max-width: 800px) {
      flex-direction: column;
    }
  
    .apply-now-wrapper {
      // background: linear-gradient(180deg, rgba(8, 77, 49, 0.8) 0%, rgba(19, 179, 114, 0.8) 100%);
      // background: linear-gradient(90deg, #1C8354 0%, #00A55A 100%);
      background: linear-gradient(90deg, #1C8354 0%, #00A55A 100%);
      border-radius: 10px;
      color: var(--white);
      padding: 40px 50px;
      display: flex;
      align-items: center;
  
      .an-header-title {
        flex: 1;
        margin-bottom: 10px;

        h2 {
          width: 75%;
          margin: 0 auto;
          font-size: 47px;
          font-weight: 700;
          line-height: 58px;
          text-align: left;
        }
      }
  
      .an-content {
        flex: 1;
        text-align: center;

        p {
          margin: 0 auto;
          color: var(--white);
          font-size: 30px;
          font-weight: 400;
          line-height: 38px;
          text-align: justify;
        }
  
        .btn {
          color: #084D31;
          background: linear-gradient(90deg, #CFCFCF 0%, #FFFFFF 100%);
          font-weight: 600;
          line-height: 27px;
          text-align: center;
          margin: 40px 0 20px;
          width: 267.53px;
        }
  
        .note {
          font-size: 20px;
          font-weight: 500;
          line-height: 27px;
          text-align: center;
          width: 70%;
          margin: 6px auto;
        }
      }
    }
  }

}

.footer-container {
  background: var(--primary);
  padding: 20px 22px;
  // margin-top: 50px;

  .footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .img-holder {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
