/*** LTR websites ***/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary: #1c8354;
  --darker-primary: #395256;
  --primary-lighten-1: #209861;
  --primary-lighten-2: #25ad6f;
  --primary-lighten-3: #27b574;
  --primary-lighten-4: #29c27c;
  --primary-lighten-5: #32d38a;
  --primary-lighten-6: #43d793;
  --primary-lighten-7: #47d896;
  --primary-lighten-8: #5cdca2;
  --primary-lighten-9: #71e1ae;
  --primary-lighten-10: #daf7ea;
  --white: #fff;
  --darken-white-1: #f2f2f2;
  --darken-white-2: #e6e6e6;
  --darken-white-3: #e0e0e0;
  --darken-white-4: #d9d9d9;
}

body {
  background: #F2F2F2 !important;
}

img {
  width: 100%;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

.btn {
  cursor: pointer;
  background-color: var(--primary);
  border: 0;
  border-radius: 4px;
  color: var(--white);
  height: 69px;
  font-size: 23px;
  padding: 0 22px;
  font-family: "IBM Plex Sans Arabic", Helvetica;
  font-weight: 500;
}

.nav-bar-section {
  position: sticky;
  top: 0;
  background: var(--white);
  padding: 0 22px;
  z-index: 999;
  overflow: hidden;
}
@media (max-width: 800px) {
  .nav-bar-section .logo-container {
    width: 200px;
  }
  .nav-bar-section .right-logo-container {
    width: 200px;
  }
}
.nav-bar-section .nb-container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.nav-bar-section .nb-container .nb-middle {
  flex: 1;
}
.nav-bar-section .nb-container .nb-middle .nav-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100%;
}
.nav-bar-section .nb-container .nb-middle .nav-item-wrapper .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}
.nav-bar-section .nb-container .nb-middle .nav-item-wrapper .nav-item.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  background-color: var(--primary);
  border-radius: 2px;
}
.nav-bar-section .nb-container .nb-middle .nav-item-wrapper .nav-item.active a {
  background-color: var(--primary);
  border-radius: 4px;
  color: white !important;
  padding: 4px 8px;
}
@media (max-width: 800px) {
  .nav-bar-section .nb-container .nb-middle {
    display: none !important;
  }
}
.nav-bar-section .nb-container .nb-left,
.nav-bar-section .nb-container .nb-right {
  width: 200px;
}
.nav-bar-section .nb-container .nb-left,
.nav-bar-section .nb-container .nb-middle,
.nav-bar-section .nb-container .nb-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar-section .nb-container .lang-btn {
  cursor: pointer;
  border-radius: 4px;
  margin-left: 10px;
  text-align: center;
  height: 100%;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.nav-bar-section .nb-container .lang-btn:hover {
  background: var(--primitives-colors-neutral-100);
}
.nav-bar-section .nb-container .lang-btn:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 6px;
  background: transparent;
  border-radius: 50px;
  background: var(--themes-background-background-neutral-400);
}
.nav-bar-section .nb-container .lang-btn p {
  font-family: var(--text-lg-regular-font-family);
  font-weight: 500;
  font-size: 18px;
  color: var(--primitives-colors-base-black) !important;
}

.banner-container {
  position: relative;
  height: calc(100vh - 102px);
  overflow: hidden;
}
@media (max-width: 800px) {
  .banner-container {
    height: 60vh;
  }
}
.banner-container img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.banner-container .banner-message-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
}
.banner-container .banner-message-wrapper h1 {
  color: var(--white);
}
.banner-container .banner-message-wrapper .big {
  font-size: 58.16px;
  font-weight: 700;
  line-height: 75.6px;
  letter-spacing: 0.04em;
  text-align: left;
}
.banner-container .banner-message-wrapper .thin {
  font-size: 38.16px;
  font-weight: 300;
  line-height: 49.61px;
  letter-spacing: 0.04em;
  text-align: left;
  width: 731px;
  margin-bottom: 28px;
}
@media (max-width: 800px) {
  .banner-container .banner-message-wrapper .big {
    font-size: 50px;
    line-height: 50px;
  }
  .banner-container .banner-message-wrapper .thin {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 10px;
    width: auto;
  }
}
.banner-container .banner-message-wrapper p {
  color: var(--darker-primary);
}
.banner-container .banner-message-wrapper .apply-here-w {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: #fff;
  border-radius: 16px;
  border-left: 4px solid #45a88f;
  padding: 28px 24px;
  max-width: 623px;
}
@media (max-width: 800px) {
  .banner-container .banner-message-wrapper .apply-here-w {
    flex-direction: column;
    width: 80%;
  }
}
.banner-container .banner-message-wrapper .apply-here-w .calendar-icon {
  width: 24px;
}
.banner-container .banner-message-wrapper .apply-here-w .message-w {
  flex: 1;
  border-radius: 8px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.banner-container .banner-message-wrapper .apply-here-w .message-w .label {
  font-family: var(--text-md-medium-font-family) !important;
  font-size: 24px;
  font-weight: var(--text-md-medium-font-weight) !important;
  line-height: var(--text-md-medium-line-height) !important;
  text-align: left;
  margin-bottom: 10px;
}
.banner-container .banner-message-wrapper .apply-here-w .message-w .date {
  color: var(--darker-primary);
  font-size: 24px;
  text-align: left;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
}
.banner-container .banner-message-wrapper .apply-here-w .btn {
  font-size: 24px;
  height: 50px;
}
@media (max-width: 800px) {
  .banner-container .banner-message-wrapper .apply-here-w .btn {
    width: 100%;
  }
}

.divider-titles-container {
  background: var(--primitives-colors-primary-SA-flag-600-primary);
  padding: 50px 50px 60px;
}
.divider-titles-container .divider-titles-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .divider-titles-container .divider-titles-wrapper {
    height: auto;
  }
}
.divider-titles-container .divider-titles-wrapper .divider-title-header {
  color: var(--white);
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: left;
  position: relative;
}
@media (max-width: 800px) {
  .divider-titles-container .divider-titles-wrapper .divider-title-header {
    margin: 0 10px 14px;
  }
}
.divider-titles-container .divider-titles-wrapper .divider-title-header::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 100%;
  min-height: 25px;
  background: var(--themes-background-background-primary-400);
  left: -30px;
  border-radius: 20px 0px 20px 0px;
}
.divider-titles-container .divider-titles-wrapper .divider-content p {
  color: var(--white);
  font-size: var(--text-lg-regular-font-size);
  line-height: 38px;
  font-weight: var(--text-lg-regular-font-weight);
  text-align: justify;
  margin-bottom: 16px;
  font-size: 28px;
}
.divider-titles-container .divider-titles-wrapper .divider-content p:last-child {
  margin-bottom: 0;
}

.objectives-container {
  background: var(--themes-icon-bg-icon-brand-light);
  padding: 50px 80px 60px;
  position: relative;
}
@media (max-width: 800px) {
  .objectives-container {
    padding: 50px 0px 60px;
  }
}
.objectives-container::after, .objectives-container::before {
  position: absolute;
  content: "";
  width: 300px;
  height: 300px;
  background-image: url(../assets/icons/cirlceServ.png);
  background-repeat: no-repeat;
}
.objectives-container::after {
  left: 0;
  top: 0;
}
.objectives-container::before {
  right: 0;
  bottom: -100px;
}
.objectives-container .objectives-wrapper {
  position: relative;
  z-index: 2;
}
.objectives-container .objectives-wrapper .objectives-header-title {
  color: #0d121c;
  margin-bottom: 28px;
  text-align: center;
}
.objectives-container .objectives-wrapper .objectives-card-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 2rem;
}
@media (max-width: 800px) {
  .objectives-container .objectives-wrapper .objectives-card-wrapper {
    flex-direction: column;
  }
}
.objectives-container .objectives-wrapper .objectives-card-wrapper .objectives-card {
  flex: 1;
  background: var(--themes-background-background-card);
  border: 1px solid var(--themes-border-border-neutral-secondary);
  border-radius: var(--radius-radius-lg);
  color: #1F2A37 !important;
  min-height: 150px;
  padding: var(--spacing-global-spacing-xl);
  max-width: 856px;
  position: relative;
}
.objectives-container .objectives-wrapper .objectives-card-wrapper .objectives-card img {
  height: 50px;
  width: 50px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 16px;
}
.objectives-container .objectives-wrapper .objectives-card-wrapper .objectives-card p {
  color: #1b8354 !important;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  position: relative;
}
@media (max-width: 800px) {
  .objectives-container .objectives-wrapper .objectives-card-wrapper .objectives-card p {
    top: unset;
    transform: unset;
  }
}
.objectives-container .objectives-wrapper .objectives-card-wrapper .objectives-card p.text-c {
  text-align: center;
}

.eligibility-container {
  background-position: center;
  background-size: cover;
  padding: 50px 10px;
  position: relative;
}
.eligibility-container::after {
  content: "";
  background: linear-gradient(0deg, rgba(28, 131, 84, 0) 0%, rgba(8, 77, 49, 0.8) 100%);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.eligibility-container .bg-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.eligibility-container .eligibility-wrapper {
  position: relative;
  z-index: 2;
}
.eligibility-container .eligibility-wrapper p {
  color: var(--white);
  font-size: 25px;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
.eligibility-container .eligibility-wrapper p strong {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}
.eligibility-container .eligibility-wrapper .eligibility-header-title {
  color: var(--white);
  margin-bottom: 40px;
  text-align: center;
}
.eligibility-container .eligibility-wrapper .eligibility-header-title h1 {
  font-size: 40px;
}
.eligibility-container .eligibility-wrapper .eligibility-header-title p {
  margin-top: 4px;
  font-size: 28px;
}
.eligibility-container .eligibility-wrapper .eligibility-card-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 16px;
}
@media (max-width: 800px) {
  .eligibility-container .eligibility-wrapper .eligibility-card-wrapper {
    flex-direction: column;
  }
}
.eligibility-container .eligibility-wrapper .eligibility-card-wrapper .eligibility-card {
  flex: 25%;
  max-width: 433px;
  background: linear-gradient(90deg, #1C8354 0%, #00A55A 100%);
  color: var(--white);
  border-radius: 10px;
  min-height: 150px;
  padding: 18px 28px;
  position: relative;
}
.eligibility-container .eligibility-wrapper .eligibility-card-wrapper .eligibility-card img {
  height: 60px;
  width: 60px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
}
.eligibility-container .eligibility-wrapper .eligibility-card-wrapper .eligibility-card .header {
  margin-bottom: 10px;
}
.eligibility-container .eligibility-wrapper .eligibility-card-wrapper .eligibility-card p {
  text-align: left;
}

.bg-challenge-wrapper {
  background: url("../assets/bg-challenge.png");
  background-position: center;
  background-size: cover;
  padding-bottom: 50px;
}

.core-themes-container {
  padding: 50px 0 20px;
  margin-bottom: 50px;
}
.core-themes-container .title-header {
  text-align: center;
  margin-bottom: 28px;
}
@media (max-width: 800px) {
  .core-themes-container .title-header {
    padding: 0 10px;
  }
}
.core-themes-container .title-header h2 {
  color: #1b8354;
  margin-bottom: 10px;
}
.core-themes-container .title-header p {
  color: #32383d;
  margin: 0 auto 50px;
  font-family: "IBM Plex Sans Arabic", Helvetica;
  font-weight: 400;
  font-size: 28px;
  line-height: 37.7px;
  text-align: center;
}
.core-themes-container .core-themes-card-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 3rem;
  margin: 0 auto;
  max-width: 1498px;
  padding-right: 58px;
}
@media (max-width: 800px) {
  .core-themes-container .core-themes-card-wrapper {
    flex-direction: column;
    padding-left: 20px;
  }
}
.core-themes-container .core-themes-card-wrapper .core-themes-card {
  flex: 1;
  position: relative;
}
.core-themes-container .core-themes-card-wrapper .core-themes-card .card-title {
  display: flex;
  gap: 10px;
  position: relative;
  left: -6px;
}
.core-themes-container .core-themes-card-wrapper .core-themes-card .card-title .card-icon-w {
  position: relative;
  height: 100px;
  width: 100px;
}
.core-themes-container .core-themes-card-wrapper .core-themes-card .card-title .card-icon-w .bg-icon {
  height: 96.87px;
  width: 99px;
}
.core-themes-container .core-themes-card-wrapper .core-themes-card .card-title .card-icon-w .icon {
  position: absolute;
  top: 8px;
  left: 18px;
  width: 50px;
  height: 50px;
}
.core-themes-container .core-themes-card-wrapper .core-themes-card .card-title h2 {
  font-size: 1.8rem;
  margin-top: 14px;
}
.core-themes-container .core-themes-card-wrapper .core-themes-card .card-title h2 span {
  color: var(--primary);
}
.core-themes-container .core-themes-card-wrapper .core-themes-card .card-content {
  background: #fff;
  height: calc(100% - 100px);
  border-radius: 5px;
  position: relative;
  left: 28px;
  top: -30px;
  padding: 32px 32px 32px 60px;
}
.core-themes-container .core-themes-card-wrapper .core-themes-card .card-content ul {
  list-style: none;
}
.core-themes-container .core-themes-card-wrapper .core-themes-card .card-content ul li {
  margin-bottom: 28px;
  position: relative;
}
.core-themes-container .core-themes-card-wrapper .core-themes-card .card-content ul li::before {
  content: "";
  background: var(--primitives-colors-primary-SA-flag-600-primary);
  border-radius: 50%;
  height: 10px;
  width: 10px;
  position: absolute;
  top: 10px;
  left: -34px;
}
.core-themes-container .core-themes-card-wrapper .core-themes-card .card-content ul li .label {
  color: #32383d;
  font-size: 22px;
  font-weight: 600;
  line-height: 31.77px;
  text-align: left;
  margin-bottom: -4px;
}
.core-themes-container .core-themes-card-wrapper .core-themes-card .card-content.environment ul {
  list-style-image: url("../assets/icons/environment-bullet.png");
}
.core-themes-container .core-themes-card-wrapper .core-themes-card .card-content.water ul {
  list-style-image: url("../assets/icons/water-bullet.png");
}
.core-themes-container .core-themes-card-wrapper .core-themes-card .card-content.agriculture ul {
  list-style-image: url("../assets/icons/agriculture-bullet.png");
}
.core-themes-container .core-themes-card-wrapper .core-themes-card.text.holder {
  flex: unset;
  width: 300px;
}
.core-themes-container .core-themes-card-wrapper .core-themes-card .ct-details-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.why-apply-container {
  border: 5px solid #B0D7E9;
  background: #E5F4FB;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: -20px;
  max-width: 1440px;
  position: relative;
}
.why-apply-container .logo-stamp {
  position: absolute;
  top: 0;
  left: 0;
  height: 150px;
  width: 150px;
}
.why-apply-container .why-apply-wrapper {
  padding: 2rem;
  text-align: center;
}
.why-apply-container .why-apply-wrapper .wa-header-title {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.why-apply-container .why-apply-wrapper .wa-header-title p {
  color: #32383d;
  font-size: 22px;
  font-weight: 600;
  line-height: 31.77px;
  text-align: center;
  margin-bottom: -4px;
}

.apply-now-container {
  background-position: center;
  background-size: cover;
  padding: 50px;
  position: relative;
}
@media (max-width: 800px) {
  .apply-now-container {
    padding: 20px 0;
  }
}
.apply-now-container::after {
  content: "";
  background: linear-gradient(0deg, rgba(28, 131, 84, 0) 0%, rgba(8, 77, 49, 0.8) 100%);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.apply-now-container .bg-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.apply-now-container .apply-now-form-wrapper {
  position: relative;
  z-index: 1;
}
@media (max-width: 800px) {
  .apply-now-container .apply-now-form-wrapper {
    flex-direction: column;
  }
}
.apply-now-container .apply-now-form-wrapper .apply-now-wrapper {
  background: linear-gradient(90deg, rgba(28, 131, 84, 0.8) 0%, rgba(0, 165, 90, 0.8) 100%);
  border-radius: 10px;
  color: var(--white);
  padding: 40px 50px;
  display: flex;
  align-items: center;
  height: 472px;
}
@media (max-width: 800px) {
  .apply-now-container .apply-now-form-wrapper .apply-now-wrapper {
    flex-direction: column;
    height: auto;
    padding: 40px 30px;
  }
}
.apply-now-container .apply-now-form-wrapper .apply-now-wrapper .an-header-title {
  flex: 1;
  margin-bottom: 10px;
}
.apply-now-container .apply-now-form-wrapper .apply-now-wrapper .an-header-title h2 {
  width: 75%;
  margin: 0 auto;
  font-size: 47px;
  font-weight: 700;
  line-height: 58px;
  text-align: left;
}
.apply-now-container .apply-now-form-wrapper .apply-now-wrapper .an-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
}
.apply-now-container .apply-now-form-wrapper .apply-now-wrapper .an-content p {
  margin: 0 auto;
  color: var(--white);
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  text-align: justify;
}
.apply-now-container .apply-now-form-wrapper .apply-now-wrapper .an-content .btn {
  color: #084D31;
  background: linear-gradient(90deg, #CFCFCF 0%, #FFFFFF 100%);
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  margin: 20px 0;
  width: 400px;
}
@media (max-width: 800px) {
  .apply-now-container .apply-now-form-wrapper .apply-now-wrapper .an-content .btn {
    width: auto;
  }
}
.apply-now-container .apply-now-form-wrapper .apply-now-wrapper .an-content .note {
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
  width: 70%;
  margin: 6px auto;
}
@media (max-width: 800px) {
  .apply-now-container .apply-now-form-wrapper .apply-now-wrapper .an-content .note {
    width: auto;
  }
}

.tags-container {
  padding: 50px 0;
  max-width: 1440px;
  margin: 0 auto;
}
.tags-container .title-header {
  text-align: center;
  font-size: 1.5625rem;
  font-weight: bold;
  color: var(--themes-text-text-primary);
  margin-bottom: 40px;
  position: relative;
}
.tags-container .title-header::before, .tags-container .title-header::after {
  position: absolute;
  content: "";
  width: calc(45% - 45px);
  height: 2px;
  top: 20px;
  background-color: #D6DFDD;
}
.tags-container .title-header::before {
  right: 0;
}
.tags-container .title-header::after {
  left: 0;
}
.tags-container .tags-content a {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-button-buttons-lg-gap);
  width: auto;
  margin-bottom: 30px;
  margin-right: 10px;
  padding: var(--spacing-global-spacing-none) var(--spacing-button-buttons-lg-padding);
  gap: var(--spacing-button-buttons-lg-gap);
}
.tags-container .tags-content a img {
  filter: brightness(0) invert(0);
  height: 20px;
  width: 20px;
}
.tags-container .tags-content a span {
  color: var(--darker-primary);
  margin-top: 2px;
}

.footer-container {
  background: var(--primary);
  padding: 20px 22px;
}
.footer-container .footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-container .footer-wrapper .img-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-container.arabic {
  direction: rtl;
}
.page-container.arabic .banner-container .banner-message-wrapper {
  left: unset;
  right: 10%;
}
.page-container.arabic .banner-container .banner-message-wrapper .big {
  text-align: right;
}
.page-container.arabic .banner-container .banner-message-wrapper .thin {
  text-align: right;
  width: auto;
}
.page-container.arabic .banner-container .banner-message-wrapper .apply-here-w {
  position: relative;
  right: 0;
  margin-left: auto;
}
.page-container.arabic .banner-container .banner-message-wrapper .apply-here-w .label, .page-container.arabic .banner-container .banner-message-wrapper .apply-here-w .date {
  text-align: right;
}
.page-container.arabic .divider-titles-wrapper .divider-title-header {
  text-align: right;
}
.page-container.arabic .divider-titles-wrapper .divider-title-header::after {
  left: unset;
  right: -30px;
}
.page-container.arabic .eligibility-container .eligibility-wrapper .eligibility-card-wrapper .eligibility-card p {
  text-align: right;
}
.page-container.arabic .core-themes-container .core-themes-card-wrapper {
  padding-right: 0;
  padding-left: 58px;
}
.page-container.arabic .core-themes-container .core-themes-card-wrapper .core-themes-card .card-title {
  left: unset;
  right: -6px;
}
@media (max-width: 800px) {
  .page-container.arabic .core-themes-container .core-themes-card-wrapper .core-themes-card .card-title {
    right: 0;
  }
}
.page-container.arabic .core-themes-container .core-themes-card-wrapper .core-themes-card .card-title .card-icon-w {
  transform: scaleX(-1);
}
.page-container.arabic .core-themes-container .core-themes-card-wrapper .core-themes-card .card-content {
  left: unset;
  right: 28px;
  padding: 32px 60px 32px 32px;
}
.page-container.arabic .core-themes-container .core-themes-card-wrapper .core-themes-card .card-content ul li::before {
  left: unset;
  right: -34px;
}
.page-container.arabic .core-themes-container .core-themes-card-wrapper .core-themes-card .card-content ul li .label {
  text-align: right;
}
.page-container.arabic .apply-now-container .apply-now-form-wrapper .apply-now-wrapper .an-header-title h2 {
  text-align: right;
}
.page-container.arabic .apply-now-container .apply-now-form-wrapper .apply-now-wrapper .an-content p {
  direction: rtl;
}
.page-container.arabic .tags-container .tags-content {
  display: flex;
}
.page-container.arabic .tags-container .tags-content a {
  margin-right: unset;
  margin-left: 10px;
}/*# sourceMappingURL=style.css.map */