@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

$primary: rgba(27, 131, 84, 1);
$white: #fff;

:root {
    --primary: #{$primary};

    // PRIMARY LIGHTEN COLORS
    --primary-lighten-1: #{lighten($primary, 5%)};
    --primary-lighten-2: #{lighten($primary, 10%)};
    --primary-lighten-3: #{lighten($primary, 12%)};
    --primary-lighten-4: #{lighten($primary, 15%)};
    --primary-lighten-5: #{lighten($primary, 20%)};
    --primary-lighten-6: #{lighten($primary, 24%)};
    --primary-lighten-7: #{lighten($primary, 25%)};
    --primary-lighten-8: #{lighten($primary, 30%)};
    --primary-lighten-9: #{lighten($primary, 35%)};
    --primary-lighten-10: #{lighten($primary, 60%)};

    --white: #{$white};
    --darken-white-1: #{darken($white, 5%)};
    --darken-white-2: #{darken($white, 10%)};
    --darken-white-3: #{darken($white, 12%)};
    --darken-white-4: #{darken($white, 15%)};
}

body {
    background: var(--darken-white-1);
    font-family: "Poppins", sans-serif;
}

img {
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

.nav-bar-section {
    position: sticky;
    top: 0;
    background: var(--darken-white-1);
    padding: 0 22px;
    z-index: 999;

    // &.scrolled {
    //     background: var(--primary-lighten-1);
    // }

    .nb-container {
        display: flex;
        align-items: stretch;
        justify-content: space-between;

        .nb-middle {
            flex: 1;
            
            .nav-item-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                height: 100%;

                .nav-item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    position: relative;

                    &.active {
                        &::after {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 4px;
                            bottom: 0;
                            background-color: var(--primary);
                            border-radius: 2px;
                        }
                        
                        a {
                            background-color: var(--primary);
                            border-radius: 4px;
                            color: white;
                            padding: 4px 8px;
                        }
                    }
                }
            }
        }

        .nb-left,
        .nb-right {
            width: 200px;
        }

        .nb-left,
        .nb-middle,
        .nb-right {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.banner-container {
    position: relative;
    max-height: calc(100vh - 102px);
    overflow: hidden;

    img {
        height: 100%;
        object-fit: cover;
        position: relative;
    }

    .banner-message-wrapper {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 160px;

        h2 {
            color: var(--white);
            font-size: 2rem;
        }

        p {
            color: var(--primary-lighten-6);
            font-size: 1rem;
        }
    }
}

.divider-titles-container {
    margin: 50px 0;

    .divider-titles-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 300px;
        text-align: center;
        padding: 22px 0;

        .divider-title-header {
            background: var(--primary);
            border-radius: 10px;
            color: var(--white);
            padding: 4px 8px;
            margin-bottom: 14px;
        }

        .divider-title-description {
            color: var(--primary);
            font-weight: 500;
            margin: 12px auto 0;
            width: 50%;
        }
    }
}

.objectives-container {
    background: var(--primary);
    color: var(--white);
    padding: 20px 10px;
    margin: 50px 0;
    
    .objectives-wrapper {
        .objectives-header-title {
            margin-bottom: 12px;
            text-align: center;
        }

        .objectives-card-wrapper {
            display: flex;
            align-items: stretch;
            justify-content: space-around;

            .objectives-card {
                background-color: var(--primary-lighten-8);
                border-radius: 10px;
                min-height: 150px;
                padding: 18px;
                width: 40%;

                p {
                    font-size: 18px;
                }
            }
        }
    }
}

.eligibility-container {
    padding: 20px 10px;
    margin: 50px 0;
    
    .eligibility-wrapper {
        .eligibility-header-title {
            color: var(--primary);
            margin-bottom: 12px;
            text-align: center;

            p {
                font-weight: 500;
                margin-top: 4px;
            }
        }

        .eligibility-card-wrapper {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            gap: 16px;
            padding: 0 16px;

            .eligibility-card {
                flex: 1;
                background-color: var(--primary);
                color: var(--white);
                border-radius: 10px;
                min-height: 150px;
                padding: 18px;
                text-align: center;

                img {
                    height: 50px;
                    width: 50px;
                    margin-bottom: 10px;
                    filter: invert(1);
                }

                p {
                    font-size: 18px;
                }
            }
        }
    }
}